html, body {
    padding: 0;
    margin: 0;
    color: white;
}

.header {
    display: block;
    width: 100%;
    height: 330px;
    background: teal;
}
    .hcont {
        display: block;
        width: 95%;
        height: 260px;
        margin: 0 auto;
        background: royalblue;
    }
        #logo {
            max-width: 100%;
            height: 80%;
            margin: 2%;
        }

    .navbar {
        display: block;
        width: 95%;
        height: 63px;
        margin: 0 auto;
        background: gold;
    }

.content {
    display: block;
    width: 100%;
    max-width: 980px;
    height: 500px;
    margin: 0 auto;
    background: yellow;
}

.footer {
    width: 100%;
    height: 300px;
    background: #424242;
}
